@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@400;500&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lobster', cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 40%;
  position: relative;
  display: flex;
}

.right-column {
 width: 60;
 margin: 10px;
  
}

.description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.description p {
  font-size: 20px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
  font-family: 'Merienda', cursive;
}

.info td{
  font-family: 'Merienda', cursive;
}