.container {
    border-radius: 20px;
    margin: auto;   
	max-width: 360px;
	box-shadow: 20px 20px 20px 8px gray;
}
#result {
    text-decoration: bold;
    text-align: right;
    height: 50px;
    line-height: 30px;
    padding: 4% 2%;
    font-size: 25px;
    
}
.bttns {
    display: grid;
    border: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bttns div {
    margin: 5px;
    border-radius: 50px;
    border-top: 1px solid #999;
}
.btn {
    border: .5px solid gray;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
#equal {
    border-radius: 50px;
    background-color: tomato;
    color: white;
    font-size: 30px;
}
#clear{
    background-color: tomato;
    color: white;
}
.btn:hover {
    background-color: lightgray;
}
#equal:hover{
    background-color: red;
}
#clear:hover{
    background-color: red;
}
